
body {
  background-color: blue;
  padding: 0;
  margin: 0;
}

h1 {
  font-family: 'Courier New', Courier, monospace;
  color: white;
  text-align: center;
  font-size: 25px;
  position: relative;
  margin: 0;
  padding-top:10px;
}

p {
  font-family: helvetica;
  color: white;
  font-size: 16px;
}

/*with index 5, i have hidden it behind the map*/
#titlebar {
  width:100%;
  height: 50px;
  background-color: rgb(30, 31, 27);
  top:0;
  z-index: 7;
  display: inline-block;
  position: fixed;
}
#leftbar {
  width: 60px;
  height: 70%;
  background-color: rgb(30, 31, 27);
  top:100px;
  z-index: 7;
  display:inline-flexbox;
  position: fixed;
}

#overlayutopias {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* 100% = Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0; 
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5); /* Black background with opacity */
  z-index: 7; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
  opacity:70%;
  overflow-x:scroll;
}
/*
#overlayutopias-content {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 35px;
  color: white;
  z-index: 7;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}
*/

#mapid {
    height:100vh;
    z-index: 6;
}
/* this z-index has to be smaller than that of the overlay which is 11 (see below) */
/* this z-index is missing in the original instructions by Lucas */

/* ===== INFO PANEL ===== */

/*z-index = number of stacks; larger number comes on top */

#trigger {/*map*/
  font-size:35px;
  cursor:pointer;
  position:fixed;
  top: 3px;
  left:10px;
  z-index: 9;
  color: white;
  font-family: cursive;
}

#trigger2 {/*your utopias*/
  font-size: 35px;
  cursor:pointer;
  position:fixed;
  top:3px;
  right:10px;
  z-index: 9;
  color:fuchsia;
  font-family: cursive;
}
/*
#trigger3 {/*goal, navmiddle3
  font-size: 35px;
  cursor:pointer;
  position:fixed;
  top:3px;
  left: 40%;
  z-index: 9;
  color:#11ded4;
  font-family: cursive;
}
*/

#trigger4 {/*;land*/
  font-size: 35px;
  cursor:pointer;
  position:fixed;
  top:3px;
  left: 30%;
  z-index: 9;
  color:darkgoldenrod;
  font-family: cursive;
}

#trigger5 {/*crises*/
  font-size: 35px;
  cursor:pointer;
  position:fixed;
  top:3px;
  left: 60%;
  z-index: 9;
  color:red;
  font-family: cursive;
}

#triggerskull {/*skull*/
font-size: 35px;
cursor:pointer;
  position:fixed;
  bottom: 5%;
  left: 5%;
  z-index: 8;
  color:white;
  font-family: cursive;
}

#triggerutopias {/*button our utopias*/
  z-index:8;
  font-family: cursive;
  background-color: black;
  color: fuchsia;
  font-size: 35px;
  position: fixed;
  bottom: 30%;
  right:1%;
}

#bottom-left{
  bottom:50px;
}

.closebtn {
    position: absolute;
    top: 17px;
    right: 10px;
    font-size: 35px !important;
    color: white;
    line-height:0px;
}

.closebtn2 {
  position: absolute;
  top: 17px;
  left: 40px;
  font-size: 35px !important;
  color: white;
  font-family:'Courier New', Courier, monospace;
line-height:0px;
}

.overlayskull {
  position: fixed; 
  width: 0;
  height:100%;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.7); /* Black background with opacity */
  z-index: 11; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
  opacity:80%;
  overflow: scroll;
  color:white;
  font-family: 'Courier New', Courier, monospace;
  transition: 0.3s;
}

.overlay1 {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 11;
  top: 0;
  left: 0;
  font-family: 'Courier New', Courier, monospace;
  background-color: rgb(136, 126, 100);
  overflow-x: hidden;
  transition: 0.2s;
}

/*.overlay2 {
  height: 100%;
  width: 25%;
  position: fixed;
  z-index: 11;
  top: 0;
  right: -25%;
  background-color: rgb(77, 58, 58);
  overflow-x: hidden;
  transition: 0.3s;
}*/

.overlay2 {
  height: 100%;
  width: 55%;
  position: fixed;
  z-index: 11;
  top: 0;
  right: -80%;
  overflow-x: hidden;
  background-color:#FFC8FF;/*#334721;*/
  opacity: 95%;
  transition: 0.3s;
}
/* when no background-color
then the overlay is transparent!!
*/
.overlay3 {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 11;
  top: 0;
  left: 30%;
  right: -20%;
  background-color: rgb(136, 126, 100);
  opacity: 95%;
  font-family: 'Courier New', Courier, monospace;
  overflow-x: hidden;
  transition: 0.3s;
}

/* when no background-color
then the overlay is transparent!!
*/
.overlay4 {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 11;
  top: 0;
  left: 20%;
  right: -20%;
  background-color: rgb(136, 126, 100);
  opacity: 95%;
  font-family: 'Courier New', Courier, monospace;
  overflow-x: hidden;
  transition: 0.3s;
}

.overlay5 {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 11;
  top: 0;
  left: 40%;
  /*right: -20%;*/
  background-color:black ;
  opacity: 90%;
  font-family: 'Courier New', Courier, monospace;
  overflow-x: hidden;
  color: white;
  transition: 0.3s;
}
.overlayutopias {
  opacity:80%;
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 35px;
  color: white;
  z-index: 7;
  font-family: 'Courier New', Courier, monospace;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
};

.overlay-content {
  position: relative;
  top: 5%;
  text-align: center;
  margin-top: 20px;
  padding:20px;
  color: white;
}

.overlay-content2 {
  position: relative;
  top: 2%;
  text-align: center;
  /*width: 100%;*/
  margin-top: 20px;
  padding: 20px;
  color: white;
}

.overlay a {
  padding: 5px;
  text-decoration: none;
  font-family: 'Courier New', Courier, monospace;
  color: white;
  display: block;
  transition: 0.2s;
  font-weight:normal;
  text-align:left;
}

.overlay2 a {
    padding: 5px;
    text-decoration: none;
    font-family:'Courier New', Courier, monospace;
    color: white;
    display: block;
    transition: 0.3s;
    font-weight:normal;
    text-align:left;
}

div.elem-group {
  margin: 40px 0;
}

label {
  display: block;
  font-family:'Courier New', Courier, monospace;
  padding-bottom: 4px;
  font-size: 18px;
}

input, select, textarea {
  border-radius: 2px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  font-size: 18px;
  font-family:'Courier New', Courier, monospace;
  width: 100%;
  padding: 8px;
}

textarea {
  height: 250px;
  
}

button {
  height: 50px;
  background: white;
  color: blue;
  text-align: center;
  border: 2px solid #ccc;
  font-size: 18px;
  font-family:'Courier New', Courier, monospace;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  border: 2px solid white;
}

.black{
  color: black;
}
.pink{
  color:deeppink;
}
.blue{
  color: blue;
}
.red{
  color: crimson;
}
.lightgrey{
  color: lightgrey;
}
.grey{
  color: grey;
}
.darkgrey{
  color: darkgrey;
}
.dimgrey{
  color: dimgrey;
}
.darkviolet{
  color: darkviolet;
}
.magenta{
  color: magenta;
}
.sienna {
  color: sienna
}
.saddlebrown{
  color: saddlebrown;
}
.olive{
  color: olive;
}
.darkgoldenrod{
  color:darkgoldenrod;
}
.lightyellow{
  color:lightyellow
}
.brightyellow{
  color:#FFFF00
}


